<div class="container px-5 px-sm-0">
  <div class="row">
    <!-- 共通テンプレート UserInfo-->
    <%= render partial: "users/user_info.html.erb", locals: { book: @book, user: current_user } %>
    
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each do |post_image| %>
            <tr>
              <td>
                <!-- プロフィール画像 -->
                <%= image_tag post_image.get_profile_image(100,100) %>
              </td>
                
              <td>
                <%= post_image.name %>
              </td>
                
              <td>
                <%= link_to "show", user_path(post_image.id) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
</div>
 </div>
</div>